@charset "UTF-8";

body {
    margin: 0;
    overflow: hidden;
    background-color: rgb(58, 65, 54);
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
    -webkit-user-select: none;
}

p {
    margin: 0.7em 1em;
}

p > span {
    display: inline-flex;
    justify-content: center;
    background: white;
    border: 1px solid black;
    border-radius: 3px;
    padding: 0.1em;
    min-width: 1.5em;
}

canvas {
    display: flex;
    margin: auto;
    border: 1px solid black;
}

#instructions-container {
    position: absolute;
    top: 3em;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    overflow-y: auto;
}

#instructions {
    background: rgba(255, 255, 255, 0.7);
    border-radius: 3px;
    padding: 1em 5em 2em 5em;
    margin-bottom: 2em;
}

#instructions-close-button {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    font-size: 2em;
    padding: 0 0.2em;
}

.hidden {
    display: none;
}

#controllerContainer {
    position: fixed;
    top: 3em;
    right: 0;
}
